@font-face { font-family: 'Josefin Sans', sans-serif; }
:root { --gold: #c5b178; }

body { margin: 0; font-family: 'Josefin Sans' , sans-serif; color: #c5b178; font-size: 20px; background-color: #333333; }

a { text-decoration: none; color: inherit; }
a:hover { text-decoration: underline; }
a[name] { display: block; position: absolute; margin-top: -45px; }

em { color: #ffffff; font-style: normal; }

.logopruh { height: 150px; text-align: center; overflow: hidden; background: url(textura.png) 0 0 fixed; height: 100%; background-color: #333; margin-bottom: 45px; }
.menu { background-color: #c5b178; color: #333; text-align: center; box-shadow: 0px 8px 0px 4px #000; position: absolute; margin-top: -45px; width: 100%; }
.menu.fixed { position: fixed; top: 0; margin-top: 0; }


.box1 { background-color: rgba(50, 50, 50, 0.8); padding: 10px; max-width: 960px; margin: 0 auto 100px auto; }
.box1 > div { border: solid 2px #c5b178; padding: 20px 80px 20px 40px; }

@media (max-width: 480px) {
    .logopruh > img { height: 90px; margin-top: 30px; }
    .box1 > div { padding: 0 10px; }
}

.menu > a { display: inline-block; color: #333; text-decoration: none; font-weight: bold; margin: 10px 20px; font-size: 18px; line-height: 26px; }
.menu > a:hover { border-top: solid 2px #333; border-bottom: solid 2px #333; margin: 8px 20px; }

.pruh { background: url(textura.png) 0 0 fixed; height: 100%; background-color: #333; overflow: hidden; }
.pruh > .obsah { max-width: 1200px; margin: 80px auto; padding: 0 10px; }
.pruh > .obsah > p { max-width: 1200px; }
.pruh h2 { color: #ffffff; text-align: center; font-weight: bold; font-size: 40px; }
#pruh-menu { box-shadow: inset 0px 6px 20px 1px rgba(0, 0, 0, 0.5); }

.highlight { max-width: 940px; text-align: center; margin-left: auto; margin-right: auto; color: #ffffff; margin: 50px auto; }

.zlata { color: var(--gold); }

.hlavicka > div > img { margin: 20px 0px 20px 0px; }

.paticka { color: #ffffff; }
.paticka a { color: #c5b178; }
.paticka hr { border-color: #888; }
.paticka .vlevo { float: left; }
.paticka .vpravo { float: right; }
.paticka .vpravo:after { content: " "; display: block; clear: both; height: 80px; }

.larpyVypis { width: 1300px; }
.larpThumb { width: 400px; height: 444px; float:left; margin-bottom: 50px; border-style: solid; border-width: 2px; border-color: #c5b178; border-color: var(--gold); padding: 4px; }
.larpThumb:hover { background-color: #000; opacity: 0.5; }
.larpNazev { width: 100%; height: 80px; float:left; margin-top: -5px; color: #000; text-align: center; line-height: 80px; font-weight: 900; background-color: var(--gold); }

/*Výpis hry*/
.hra td:last-child { color: #fff; border-style: solid; }

.box2 { max-width: 1200px; margin: -20px auto; text-align: center; font-size: 24px; font-weight: bold; }
.box2 > div { background-image: url('form-stred.png'); background-size: 100% auto; padding: 50px; }
.box2:before { content: " "; display: block; background-image: url('form-vrch.png'); height: 100px; background-size: 100% 100%; }
.box2:after { content: " "; display: block; background-image: url('form-spodek.png'); height: 100px; background-size: 100% 100%; }
.box2 input[type=text] { border: none; border-radius: 100px; padding: 10px 20px; font-family: inherit; font-size: 25px; display: block; margin: 15px auto; width: 400px; /* TODO responsivní */ }
.box2 .polozka { margin: 50px 0; }
.box2 .vyber label { display: inline-block; width: 50px; color: #ffffff; margin: 20px 50px 0 50px; cursor: pointer; }
.box2 .vyber input { display: none; }
.box2 .vyber input + .pseudoinput { width: 50px; height: 50px; background-color: #ffffff; border-radius: 100px; overflow: hidden; margin-bottom: 5px; }
.box2 .vyber input:checked + .pseudoinput:before { content: " "; display: block; width: 30px; height: 30px; background-color: #c5b178; border-radius: 100px; margin: 10px; }
.box2 textarea { display: block; border: none; border-radius: 25px; width: 800px; height: 150px; padding: 20px; /* TODO not resizeable */ margin: 15px auto; font-family: inherit; font-size: 25px; }
.box2 .odeslat { background-color: #c5b178; padding: 5px; margin: 100px auto; width: 400px; }
.box2 .odeslat input { display: block; background-color: #c5b178; border: solid #333 2px; width: 100%; padding: 50px 0; font-family: inherit; font-size: 25px; color: #333; cursor: pointer; }
